.card-img-top {
    height: 150px;
    margin-top: 20px;
    position: center;
  }
  .card {
    height: 400px;
  }
  
  .card-t {
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
  }
  .card-body {
    text-align: center;
    color: white;
  }
  .card-text {
    font-family: "good_times";
    font-size: 1rem;
    text-align: center;
  }
  .card-style-1 {
    background: rgb(37, 37, 37);
    background: #E9088D; 
    background: -webkit-linear-gradient(top left, #E9088D, #03ADEC);
    background: -moz-linear-gradient(top left, #E9088D, #03ADEC);
    background: linear-gradient(to bottom right, #E9088D, #03ADEC);
  }
  .card-style-1{
    background: #5BBEE3;
    background: -webkit-linear-gradient(top left, #5BBEE3, #E940A4);
    background: -moz-linear-gradient(top left, #5BBEE3, #E940A4);
    background: linear-gradient(to bottom right, #5BBEE3, #E940A4);
  }

  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -9999999;
  }
  .developer-title {
    font-family:bebas neu + montserrat; ;
    margin-top: 30px;
  }
  .developer-subtitle {
    /* font-family: "ethnic"; */
    font-size: 1.5rem;
    margin-top: 40px;
  }
  #act1img{
    padding-right: 30%;
  }
  *{
    margin: 0px;
    padding: 0px;
    font-family: bebas neu + montserrat;
  }




  .main{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(/image/bg2.jpeg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    /* background-color: rgb(30, 3, 80); */
    
  }
.nav-bar{
    display: flex;
padding: 40px 120px;
  }
  
.nav-logo img{
 width: 150px;
 
}
.logo img{
  height:60px;
  width:64px;
  margin-top: 20px;
}

.nav-links{
  flex: 1;

}
.nav-links ul{
  margin-left:50px;
  display: inline;
    
  }
 
.nav-links ul li{
  list-style: none;
  display: inline-block;
  float: right;
  color: #f31023;
  padding: 8px 25px;
}
.nav-links ul a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  border-color: #1215a7;
  display: block;
  margin: auto;
transition: .5s;}
.nav-links ul li:hover::after{
  width: 100px;
  color: #1215a7;
}
.btn{
  color: #eaeaf1;
  padding: 10px 20px;
  border: 0;  
  border-color: #0a0a0a;
  font-weight: bold;
  cursor: pointer;
}
.nav-links .btn{
  float: right;
}

.bannertitle h1{
  font-size: 64px;
  margin-bottom: 30px;
  color: rgb(235, 210, 212);
 
}
.bannertitle h1 span{
  color: #f31023;
}
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  font-family: bebas neu + montserrat;
  color: #f31023;
}
p script{
  font-family: bebas neu + montserrat;
  color: #f31023;

}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(219, 197, 240), 0 0 20px rgb(166, 146, 252), 0 0 30px #1330a3, 0 0 40px #051881, 0 0 50px #0d0329, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px rgb(106, 50, 236), 0 0 30px #3d15ce, 0 0 40px #1619a3, 0 0 50px #1f0566, 0 0 60px #090230, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media (max-width:700px) {
  .bannertitle{
    margin: 80px 40px;
  }
  .bannertitle h1{
    font-size: 50px;
    color: rgb(224, 13, 13);
  }
  .nav-bar{
    padding: 10px 30px;
  }
  
}